.rightbar{
    padding-right: 10px;
    padding-left: 10px;
}


.artist{
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    
}
.artist:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 0px 0px;
}
.left_artist{
    flex: 0.2;
}
.center_artist{
    flex: 0.5;
}
.right_artist{
    flex: 0.3;
    align-content: right;
    margin-left: 10px;
}


.profile{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 15px;
}


@media (max-width: 480px) and (min-width: 320px){
    .rightbar{
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0;
        margin-right: 0;
    }
  }