.modal{
  height: 100vh;
  width: 100vw;
  background: white;
  position: absolute;
  margin-top: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
    position: relative;
    width: 300px;
    background: white;
    border-radius: 4px;
    padding: 25px;
  }
.fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }