.myplaylist{
    display: flex;
    flex-wrap: wrap;
}

.audioPlayer{
    padding-top:180px;
}

.allSongsTab{
    width:250px;
    height:200px;
}
.PlaylistTitle{
    margin-top: 5px;
    margin-bottom: 10px;
}
