.body{
    background-color: rgba(245,245,255,255);
    display: flex;
    flex-direction: column;
    border: 0.03rem solid black;
    margin-top: 0;
    bottom: 0;
    align-items: center;
    border-radius: 1rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 80%;
    padding: 20px;
    align-items: center;
}
.footer_left{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 0;
}
.footer__grey{
    color: rgb(206, 206, 206);
}
.footer_cenetr{
    flex:0.4;
    padding:0 100px;
}
.footer_button{
    color:black;
    margin:1
}
.footer__icon:hover:hover,.footer__grey:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
  color:black
}

.footer_left{
    flex:0.3
}

